html {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.15;
 }

body{
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  color: black;
  margin-top: 5rem;
  padding-top: 20px;
  background-image: url('img.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: auto;
  margin-right: 150px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.site-header .navbar-nav .nav-link {
  color: black;
}

.site-header .navbar-nav .nav-link:hover {
  color: #428bca;
  border-bottom: 1px solid #428bca;
}

.site-header .navbar-nav .nav-link:active {
  font-weight: 500;
  color: red;
  border-bottom: 1px solid red;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.article-title {
  color: #444444;
  font-size:25px;
  text-transform: uppercase;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size: 14px;
  color:#444444;
}

.article-img {
  height: 45px;
  width: 45px;
  margin-right: 18px;
}

.article-metadata{
  margin-left: 18px;
}

.article-metadata a{
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#NAV{
 background-color: #428bca;;
 }

 .account-img:hover{
  transform: scale(1.5); 
 }

/* vertical nav css */

.vertical-nav {
  padding-top: 70px;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}




.search input[type=text]{
  width:300px;
  height:25px;
  border-radius:25px;
  border: none;

}

.search{
  float:right;
  margin:7px;

}


.search button{
  background-color:#cdcdcd;;
  color: #000000;
  float: right;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
} 



